<div class="my-3 card" data-gj-poll-replace id="jobs-table">
  <div class="list-group list-group-flush text-nowrap">
    <div class="list-group-item bg-light">
      <div class="row small text-muted text-uppercase">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <div class="row flex-nowrap">
            <div class="col">Runtime</div>
            <div class="col">Attempts</div>
            <div class="col">Queue</div>
            <div class="col">Priority</div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
    <% if jobs.present? %>
      <% jobs.each do |job| %>
        <%= tag.div id: dom_id(job), class: "list-group-item py-3" do %>
          <div class="small text-muted">
            ID:
            <%= tag.code link_to(job.id, job_path(job), class: "text-muted text-decoration-none") %>
          </div>
          <div class="row align-items-center">
            <div class="col"><%= tag.h5 tag.code(job.job_class)%></div>
            <div class="col d-flex gap-3">
              <%= status_badge job.status %>
              <%= relative_time job.last_status_at %>
            </div>
            <div class="col">
              <div class="row flex-nowrap align-items-center">
                <div class="col"><%= format_duration job.runtime %></div>
                <div class="col">
                  <% if job.recent_error %>
                    <%= tag.button type: "button",
                        class: "btn btn-sm py-0 btn-link text-reset text-decoration-none",
                        data: {
                          bs_toggle: "popover",
                          bs_trigger: "hover focus click",
                          bs_placement: "bottom",
                          bs_content: tag.pre(job.recent_error, class: "text-wrap text-break m-0")
                        } do %>
                      <span class="text-danger me-1"><%= render "good_job/shared/icons/exclamation" %></span>
                      <%= job.executions_count %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col"><%= job.queue_name %></div>
                <div class="col"><%= job.priority %></div>
                <div class="col">
                  <div>
                  <div class="dropdown float-end">
                    <button class="d-flex align-items-center btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="<%= dom_id(job, :actions) %>" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= render "good_job/shared/icons/gear" %>
                    </button>
                    <ul class="dropdown-menu shadow" aria-labelledby="<%= dom_id(job, :actions) %>">
                      <li>
                        <% job_reschedulable = job.status.in? [:scheduled, :retried, :queued] %>
                        <%= button_to reschedule_job_path(job.id), method: :put, class: "dropdown-item #{job_reschedulable ? '' : 'disabled'}", disabled: !job_reschedulable, aria: { label: "Reschedule job" }, title: "Reschedule job", data: { confirm: "Confirm reschedule" } do %>
                          <%= render "good_job/shared/icons/skip_forward" %>
                          Reschedule
                        <% end %>
                      </li>
                      <li>
                        <% job_discardable = job.status.in? [:scheduled, :retried, :queued] %>
                        <%= button_to discard_job_path(job.id), method: :put, class: "dropdown-item #{job_discardable ? '' : 'disabled'}", disabled: !job_discardable, aria: { label: "Discard job" }, title: "Discard job", data: { confirm: "Confirm discard" } do %>
                          <%= render "good_job/shared/icons/stop" %>
                          Discard
                        <% end %>
                      </li>
                      <li>
                        <%= button_to retry_job_path(job.id), method: :put, class: "dropdown-item #{job.status == :discarded ? '' : 'disabled'}", disabled: job.status != :discarded, aria: { label: "Retry job" }, title: "Retry job", data: { confirm: "Confirm retry" } do %>
                          <%= render "good_job/shared/icons/arrow_clockwise" %>
                          Retry
                        <% end %>
                      </li>
                    </ul>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" class="py-2 text-center text-muted">No jobs found.</td>
      </tr>
    <% end %>
  </div>
</div>
